<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
    <title>DevOps Practice - {{ inventory_hostname }}</title>
</head>
<body>
	<h1>Привет! Я сервер {{ ansible_hostname }}</h1>
	<p>Мой IP адрес: {{ ansible_default_ipv4.address }}</p>
</body>
</html>
